<?xml version="1.0"?>
<!--
/**
 * Copyright © Bigeyedeers, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Related">
        <plugin name="custom_change_modifyMeta_after" type="Bigeyedeers\LinkedAddons\Plugin\Related"/>
    </type>
    <type name="Bigeyedeers\LinkedAddons\Model\ProductLink\CollectionProvider\Addons">
        <plugin name="change_link_before" type="Bigeyedeers\LinkedAddons\Plugin\Related"/>
    </type>
</config>
